.background_curso{
	background: #ff9999;
}
.background_prof{
	background:  #99ccff;
}
.background_nc{
	background: #f2f2f2;
}
.background_curso_2{
	background: #ffa366;
}
.background_prof_2{
	background:  #ffeb99;
}
.background_nc_2{
	background: #ffa366;
}
.background_curso_3{
	background: #ff9999;
}
.background_prof_3{
	background: #f2f2f2;
}
.background_nc_3{
	background: #99ccff;
}
body{
	background: #ffffff;
}