.formulario{
	margin-top:10% ;
	margin-right:35% ;
	margin-left:35% ;
	color: #fff;
}
.formulario label{
	display: block;
	margin: 10px 10px 10px 10px;
	font-size: 18px;
}
.formulario input{
 
 border-bottom:2px solid ;
 font-size: 18px;
 border-radius: 5%;

}
body{
	background: #3399ff;
}
legend{
	font-size: 30px;
	font-family: candara;
	text-align:center;
}